/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and Font Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color:black;
  }
  
  /* Header Section */
  .header {
    background-color:hotpink;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Main Content Section */
  .main-content {
    padding: 30px;
    text-align: center;
  }
  
  .main-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #13d9e7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #218838;
  }
 
  .curtain-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #1de7ee;
      overflow: hidden;
      transition: 0.5s;
  }

  .curtain-menu a {
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-size: 18px;
  }

  .curtain-menu a:hover {
      background-color: #1ef017;
  }

  .menu-button {
      font-size: 24px;
      cursor: pointer;
      position:fixed;
      top: 20px;
      left: 20px;
      z-index: 1;
      color: white;
      background-color: #4b8b01;
      border: none;
      padding: 10px;
      border-radius: 5px;
  }

  .menu-button:hover {
      background-color: #2a93d5;
  }
  .menu-open {
      height: 30vh;
  }

  h1 {
      text-align: center;
  }
